
// Fonts
//@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
//@import 'variables';
//$fa-font-path:  "webfonts/" !default;
// Bootstrap
//@import '~bootstrap/scss/bootstrap';
/*@import '~admin-lte/dist/css/adminlte.css';
@import '~@fortawesome/fontawesome-free/scss/fontawesome.scss';
@import '~@fortawesome/fontawesome-free/scss/solid.scss';
@import '~@fortawesome/fontawesome-free/scss/brands.scss';
@import '~datatables.net-bs4/css/dataTables.bootstrap4.min.css';*/

/*.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.dataTables_scroll{
    overflow:auto;
}

.dataTables_scrollHeadInner {width:"100%"};

.table{width:"100%"};
*/

.kt-wizard-v1 .kt-wizard-v1__wrapper .kt-form {
	width:80%;
	padding: 1rem 0 2rem;

}
/*.kt-wizard-v1 .kt-wizard-v1__wrapper .kt-form .kt-wizard-sm {
	width:  80%;
	padding: 1rem 0 2rem;
}

.kt-wizard-v1 .kt-wizard-v1__wrapper .kt-form .kt-wizard-md {
	width:  85%;
	padding: 1rem 0 2rem;
}

.kt-wizard-v1 .kt-wizard-v1__wrapper .kt-form .kt-wizard-lg {
	width:  90%;
	padding: 1rem 0 2rem;
}*/

.form-control, .select2-container--default .select2-selection--multiple, .select2-container--default .select2-selection--single {
	border: 1px solid #bcc1ce;
}

.select2-container--default .select2-selection--multiple .select2-selection__rendered {
	color : #6c7293;
}

.select2-container--default .select2-selection--multiple .select2-selection__rendered .select2-selection__choice {
	color: #585b68;
}

.dropdown-item {
	color:#7d8193;
}

.kt-portlet .kt-portlet__foot {
	padding: 1em;
}

.details-label {
	font-weight:600;
	display:block;
	margin-bottom:.2em;
	color:#6c7293;
}

.details-subtext {
	font-weight:400;
	color:rgb(132, 134, 144);
}

.details-item {
	-webkit-box-flex: 1;
	-ms-flex: 1;
	flex: 1;
	overflow: hidden;
	margin-bottom:.5em;
}

.details {
	margin-bottom:.7em;
}

.details__item {

}

.details__value {
	font-weight:bold;
}

.contact-list {
	list-style:none;
	padding:0;
}

.contact-list li {
	background-color:#e9ebeb;;
	padding:.5em;
	border-bottom:1px solid #a7b2d5;
}

.bg-light-gray-1 {
	background-color:#f0f0f0;
}

.bg-light-gray-2 {
	background-color:#d5d5d5;
}

.kt-badge.kt-badge--splash-white {
	background-color: #D8D8CC;
	background-image: linear-gradient(rgba(255,255,255,0.5) 0%, transparent 100%);
}
.kt-badge.kt-badge--red-spinel-mica {
	background-color: #761426;
	background-image: linear-gradient(rgba(255,255,255,0.5) 0%, transparent 100%);
}
.kt-badge.kt-badge--arc-white {
	background-color: #f2f2f0;
	background-image: linear-gradient(rgba(255,255,255,0.5) 0%, transparent 100%);
}
.kt-badge.kt-badge--silky-pearl-white {
	background-color: #f2f2f0;
	background-image: linear-gradient(rgba(255,255,255,0.5) 0%, transparent 100%);
}
.kt-badge.kt-badge--galena-gray {
	background-color:#6F7075;
	background-image: linear-gradient(rgba(255,255,255,0.5) 0%, transparent 100%);
}
.kt-badge.kt-badge--marine-blue {
	background-color:#f2f2f0;
	background-image: linear-gradient(rgba(255,255,255,0.5) 0%, transparent 100%);
}
.kt-badge.kt-badge--obsidian-gray-mica {
	background-color:#909090;
	background-image: linear-gradient(rgba(255,255,255,0.5) 0%, transparent 100%);
}
.kt-badge.kt-badge--hunter-green {
	background-color:#f2f2f0;
	background-image: linear-gradient(rgba(255,255,255,0.5) 0%, transparent 100%);
}
.kt-badge.kt-badge--garnet-red {
	background-color:#f2f2f0;
	background-image: linear-gradient(rgba(255,255,255,0.5) 0%, transparent 100%);
}
.kt-badge.kt-badge--titanium-silver {
	background-color:#ADADAD;
	background-image: linear-gradient(rgba(255,255,255,0.5) 0%, transparent 100%);
}
.kt-badge.kt-badge--cosmic-black-mica {
	background-color:#000000;
	background-image: linear-gradient(rgba(255,255,255,0.5) 0%, transparent 100%);
}
.kt-badge.kt-badge--cream-white {
	background-color:#F5F5F5;
	background-image: linear-gradient(rgba(255,255,255,0.5) 0%, transparent 100%);
}
.kt-badge.kt-badge--dark-silver {
	background-color:#666666;
	background-image: linear-gradient(rgba(255,255,255,0.5) 0%, transparent 100%);
}
.kt-badge.kt-badge--outback-brown {
	background-color:#5A3F2C;
	background-image: linear-gradient(rgba(255,255,255,0.5) 0%, transparent 100%);
}
.kt-badge.kt-badge--sapphire-blue {
	background-color:#3853AE;
	background-image: linear-gradient(rgba(255,255,255,0.5) 0%, transparent 100%);
}
.kt-badge.kt-badge--silver {
	background-color:#ADADAD;
	background-image: linear-gradient(rgba(255,255,255,0.5) 0%, transparent 100%);
}
.kt-badge.kt-badge--ash-beige {
	background-color:#ADADAD;
	background-image: linear-gradient(rgba(255,255,255,0.5) 0%, transparent 100%);
}
.kt-badge.kt-badge--aqua-blue {
	background-color:#f2f2f0;
	background-image: linear-gradient(rgba(255,255,255,0.5) 0%, transparent 100%);
}
.kt-badge.kt-badge--venetian-red {
	background-color:#761426;
	background-image: linear-gradient(rgba(255,255,255,0.5) 0%, transparent 100%);
}
.kt-badge.kt-badge--havana-brown {
	background-color:#5A3F2C;
	background-image: linear-gradient(rgba(255,255,255,0.5) 0%, transparent 100%);
}
.kt-badge.kt-badge--no-color {
	background-color:#f2f2f0;
	background-image: linear-gradient(rgba(255,255,255,0.5) 0%, transparent 100%);
}

.kt-content .kt-grid__item .kt-grid__item--fluid {
	padding:1em;
}

table.dataTable {
        thead, tbody {
            th,td {
                -webkit-box-sizing: content-box !important;
                -moz-box-sizing: content-box !important;
                box-sizing: content-box !important;
            }
        }
}

.dataTables_wrapper .dataTable {
	margin: 0 !important;
}