/*@import '~admin-lte/dist/css/adminlte.css';
@import '~@fortawesome/fontawesome-free/scss/fontawesome.scss';
@import '~@fortawesome/fontawesome-free/scss/solid.scss';
@import '~@fortawesome/fontawesome-free/scss/brands.scss';
@import '~datatables.net-bs4/css/dataTables.bootstrap4.min.css';*/

/*.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.dataTables_scroll{
    overflow:auto;
}

.dataTables_scrollHeadInner {width:"100%"};

.table{width:"100%"};
*/

.kt-wizard-v1 .kt-wizard-v1__wrapper .kt-form {
  width: 80%;
  padding: 1rem 0 2rem;
}

/*.kt-wizard-v1 .kt-wizard-v1__wrapper .kt-form .kt-wizard-sm {
	width:  80%;
	padding: 1rem 0 2rem;
}

.kt-wizard-v1 .kt-wizard-v1__wrapper .kt-form .kt-wizard-md {
	width:  85%;
	padding: 1rem 0 2rem;
}

.kt-wizard-v1 .kt-wizard-v1__wrapper .kt-form .kt-wizard-lg {
	width:  90%;
	padding: 1rem 0 2rem;
}*/

.form-control,
.select2-container--default .select2-selection--multiple,
.select2-container--default .select2-selection--single {
  border: 1px solid #bcc1ce;
}

.select2-container--default .select2-selection--multiple .select2-selection__rendered {
  color: #6c7293;
}

.select2-container--default .select2-selection--multiple .select2-selection__rendered .select2-selection__choice {
  color: #585b68;
}

.dropdown-item {
  color: #7d8193;
}

.kt-portlet .kt-portlet__foot {
  padding: 1em;
}

.details-label {
  font-weight: 600;
  display: block;
  margin-bottom: 0.2em;
  color: #6c7293;
}

.details-subtext {
  font-weight: 400;
  color: #848690;
}

.details-item {
  flex: 1;
  overflow: hidden;
  margin-bottom: 0.5em;
}

.details {
  margin-bottom: 0.7em;
}

.details__value {
  font-weight: bold;
}

